<!-- <p id="notice"><%= notice %></p> -->

<!-- <p>
  <strong>Roca:</strong>
  <%= @realty.roca_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @realty.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @realty.longitude %>
</p> -->

<p>
  <strong>Endereço:</strong>
  <%= @realty.address %>
</p>

<!-- <p>
  <strong>Building:</strong>
  <%= @realty.building %>
</p> -->

<p>
  <strong>Complemento:</strong>
  <%= @realty.complement %>
</p>

<!-- <p>
  <strong>District:</strong>
  <%= @realty.district %>
</p> -->

<p>
  <strong>Descrição:</strong>
  <%= @realty.description %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @realty.price %>
</p>


<a href="https://www.roca.com.br/busca?tab=venda&codigo=<%= @realty.roca_id %>&cidade=2&bairro=&universidade=&tipo=&tipo_universitario=&nome_end=&quartos=0&banheiros=0&garagens=0&preco_min=&preco_max=">Ver no site da Roca</a>

