<!-- <p id="notice"><%= notice %></p> -->

<!-- <p>
  <strong>Address:</strong>
  <%= @marker.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @marker.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @marker.longitude %>
</p> -->

<p>
  <strong>Descricão:</strong>
  <%= @marker.description %>
</p>

<!-- <p>
  <strong>Positive:</strong>
  <%= @marker.positive %>
</p> -->

