<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @imovei.id %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @imovei.preço %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @imovei.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @imovei.longitude %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @imovei.descricao %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @imovei.rua %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @imovei.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @imovei.cidade %>
</p>

<p>
  <strong>Nro:</strong>
  <%= @imovei.nro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @imovei.complemento %>
</p>

<%= link_to 'Edit', edit_imovei_path(@imovei) %> |
<%= link_to 'Back', imoveis_path %>
