<!DOCTYPE html>
<html>
  <head>
    <title>MorarMorei</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB-Yl3eFDJnTRE5x-rpWI-ODmrkqJvfFXo' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>

  <body>
  <div id="user_header">
    <%= link_to 'Home', root_path %>
    <% if logged_in? %>
      <% user = User.find(session[:user_id]) if session[:user_id] %>
      Nome: <%= user.nome %>
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Sign Up', signup_path %>
      <%= link_to 'Log In', login_path %>        
    <% end %>
  </div>

  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>

  </body>
</html>
